*{
    margin: 0px auto;
    padding: 0px;
}

body{
    padding: 50px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}



li{
    text-align: center;
    border: 1px solid black;
    font-size: 30px;
    width: 50%;
    list-style: none;
    padding: 10px;
    background-color: #eee;
}
a{
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
}
li:hover{
    background-color: #ccc;
}