#box{
    width: 250px;
    height: 250px;


    background-color: red;
    font-size: 40px;
    padding: 20px;
    
}

#border{
    width: 290px;
    border: 15px dotted #9bcd34;
}

#border:active{
    border: 15px dotted black;
}